@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*El asterisco (*) es el selector universal en CSS. De forma automática, 
el asterisco selecciona todos los elementos en un documento.
Este selector puede utilizarse en combinación con espacios de nombres (namespace)*/
*{
    box-sizing: border-box;
}
/*</BODY>, contienen atributos que controlan la parte visible del documento. 
Estos atributos o propiedades son popularmente usados para agregar color y diseño a la página.
Determina el color del fondo de la página. Especifica una imagen determinada para ser usada como fondo de la página.*/
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

h4{
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
}
/*El Selector de clase se conforma en Css anteponiendo un punto '. ' al valor que tenga el atributo 
'class' del elemento en el html. Así, el selector . miclase apuntará a todos los elementos del documento 
al que afecte la hoja de estilos que tengan declarado class="miclase" */
.counter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.counter.hide{
    transform: translate(-50%,-50%) scale(0);
    animation: hide 0.2s ease-out;
}

/*@import — Indica al motor de CSS que incluya una hoja de estilos externa. 
@namespace — Indica al motor de CSS que todo el contenido usa como prefijo un espacio de nombres XML.*/
@keyframes hide{
    0%{
        transform: translate(-50%,-50%) scale(1);
    }

    100%{
        transform: translate(-50%,-50%) scale(0);
    }
}

.final{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    text-align: center;
}

.final.show{
    transform: translate(-50%,-50%) scale(1);
    animation: show 0.2s ease-out;
}

@keyframes show{
    0%{
        transform: translate(-50%,-50%) scale(1);
    }

    30%{
        transform: translate(-50%,-50%) scale(1.4);
    }

    100%{
        transform: translate(-50%,-50%) scale(0);
    }
}

.nums{
    color: #3498db;
    font-size: 50px;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 50px;
}

.nums span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(120deg);
    transform-origin: bottom center;
}

.nums span.in{
    transform: translate(-50%,-50%) rotate(0deg);
    animation: goIn 0.5s ease-in-out;
}

.nums span.out{
    animation: goOut 0.5s ease-in-out;
}

@keyframes goIn{
    0%{
        transform: translate(-50%,-50%) rotate(120deg);
    }

    30%{
        transform: translate(-50%,-50%) rotate(-20deg);
    }

    60%{
        transform: translate(-50%,-50%) rotate(10deg);
    }

    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}

@keyframes goOut{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }

    60%{
        transform: translate(-50%,-50%) rotate(20deg);
    }

    100%{
        transform: translate(-50%,-50%) rotate(-120deg);
    }
}

#replay{
    background-color: #3498db;
    border-radius: 3px;
    border: none;
    color: aliceblue;
    padding: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}

#replay span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

#replay span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#replay:hover span{
    padding-right: 25px;
}

#replay:hover span:after{
    opacity: 1;
    right: 0;
}